DISKS=""
DISK_DESC=""
OUTPUT="/dev/tty"
ENOUGH=
FASTMEM=NO
FILE="/var/tmp/XXX"
FSDIR="/var/tmp"
INFO=""
LINE_SIZE=
LOOP_O=""
TOTAL_MEM=""
MB=""
MHZ=""
MOTHERBOARD=""
NETWORKS=""
OS="x86_64-linux"
PROCESSORS=1
LMBENCH_SCHED="DEFAULT"
TIMING_O=
VERSION=LMBENCH: 4.0
BENCHMARK_ALL=YES
BENCHMARK_SYSCALL=
BENCHMARK_SELECT=
BENCHMARK_SIG=
BENCHMARK_PROC=
BENCHMARK_CTX=
BENCHMARK_PAGEFAULT=
BENCHMARK_FILE=
BENCHMARK_MMAP=
BENCHMARK_PIPE=
BENCHMARK_UNIX=
BENCHMARK_UDP=
BENCHMARK_TCP=
BENCHMARK_CONNECT=
BENCHMARK_BCOPY=
BENCHMARK_MEM=
BENCHMARK_OPS=
